.card{
  display: flex;
  margin: 10px 3px;
  border: solid 1px #61dafb;
  width: 48%;
}
.card-img{
  width: 150px;
}
.card-content{
  width: 100%;
  /* border: solid 1px red; */
}

.fixed-container {
	width: 100vw;
	height: 100px;
	position: fixed;
	z-index: 10;
}

.btn {
	width: 120px;
	height: 40px;
	color: white;
	font-weight: bold;
	font-size: large;
	background-color: rgb(28, 66, 189);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(24, 55, 158);
}